.banner__imagen{
    width: auto;
}

@media screen and (min-width: 320) {
    .banner__imagen{
        padding: 5rem 0 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .banner__imagen{
        padding: 5rem 0 0 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .banner__imagen{
        padding: 5rem 0 0 5rem;
    }
}