.medios__pago{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.medios__pago-icono{
    list-style: none;
}

@media screen and (min-width: 320) {
    .medios__pago{
        padding: 5rem 0 0 1rem;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .medios__pago{
        padding: 5rem 0 0 2.5rem;
        flex-direction: column;
    }
}

@media screen and (min-width: 992px) {
    .medios__pago{
        padding: 5rem 0 0 5rem;
    }
}