.quienes{
    padding: 5rem;
    text-align: center;
}

/*@media screen and (min-width: 0) {
    .receta{
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .receta{
        padding: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .receta{
        padding: 5rem;
    }
}*/